[package]
name = "common"
version = "0.1.0"
edition = "2024"

[dependencies]
thiserror = "2.0.17"
serde = { version = "1.0.228", features = ["derive"] }
toml = "0.9.8"
chrono = "0.4.42"
regex = "1.12.2"
notify-rust = "4.11.7"